body {
  padding: 5%;
  text-align: center;
}

hr {
  margin-top: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.menu ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

.menu li {
  float: left;
  margin-right: 1px;
  background-color:
}

.menu li a {
    display:block;
    min-width:140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
}

.menu li:hover a {
    background: #19c589;
}

.form-control {
  margin-bottom: -1em;
}

.contact-list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contact-list-header h1 {
  display: inline-block;
  text-align: left;
  width: 100%;
}

.alphabet-list-header h1 {
  display: inline-block;
  text-align: left;
  width: 100%;
}


.list-item {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.name {
  display: inline-block;
  text-align: left;
  width: 50%;
}

.phone {
  display: inline-block;
  text-align: right;
  width: 50%;
}

.container {
  padding-top: 10vmin;
  position: relative;
  width: 75vmin;
  height: 40vmin;
}

.card {
  cursor: default;
  position: absolute;
  overflow: hidden;
  width: 75vmin;
  height: 40vmin;
  color: white;
  background: #263238;
  border-radius: 500px 5vmin 5vmin 500px;
  display: flex;
  min-width: 400px !important;
  min-height: 250px !important;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 2;
}

.head {
  text-align: center;
  text-transform: uppercase;
  width: 60%;
}

h4 {
  border-bottom: 1px solid #FFF;
}

.details {
  text-align: left;
  width: 60%;
}

.text {
  padding: 2vmin 6.5vmin 2vmin 2vmin;
}

.tagLine {
  position: absolute;
  bottom: 0;
  right: 0;
}
